/**-------------------------------------------------------------
 # SMS Service - Forms
 --------------------------------------------------------------*/
.dss-sms-container {
    width: 815px;
    margin: auto;
}
.dss-message-block {
    width: 700px;
    display: inline-block;
    margin-bottom: 20px;
}
.dss-message-block textarea {
    resize: vertical;
    width: 100%;
    min-height: 200px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin: 0 0 -9px 0;
}
.dss-message-block hr {
    width: 40%;
    margin: 20px 0 5px 0;
    background-color: #0E3189;
    border-bottom: 1px solid #0E3189;
}
.sms-block-title {
    display: inline-block;
    width: 110px;
    color: #808080;
    vertical-align: top;	
}
@media (max-width: 768px) {
    .dss-sms-container {
        padding: 0 0 0 3%;
    }
    .dss-notification-container,
    .dss-sms-container,
    .dss-message-block {
        width: 100%;
    }
    .sms-block-title {
        display: none;
    }  
}
@media (max-width: 767px) {
    .dss-message-block textarea {
        border-radius: 0;
    }
    .crs-payment-line,
    .dss-message-block hr {
        width: 100%;
    }
}

/** upload file **/
.dss-attachement {
  	position: relative;
    background: #C0C0C0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px
}
.dss-attachement-wrap {
    display: flex;
}
.dss-attachement-wrap label {
    width: 50%;
}
.dss-upload-file {
    cursor: pointer;
}
.dss-upload-file img {
    width: 25px;
    vertical-align: bottom;
}
.dss-upload-file input {
    display: none;
    pointer-events: none;
    user-select: none;
} 
.dss-upload-file-name {
    color: #0073aa;
}
.dss-upload-file-name a {
    box-shadow: unset;
}
.dss-delete-file {
    font-size: 20px;
    color: red;
    cursor: pointer;
}
.max-size-file-warning {
    display: block;
    color: #808080;
    font-size: 90%;
}
/** add links **/
.sms-url-icon {
    width: 25px;
    vertical-align: middle;
}
.dss-url-wrapper {
	cursor: pointer;
}
.dss-add-links-modal {
    display: none; 
    position: fixed;
    z-index: 999; 
    left: 0;
    top: 0;
    width: 100%;
    height: 90%;
    background-color: rgba(255,255,255,0.8);
    padding: 90px 0;
    overflow: auto;
}
.dss-add-links-modal-content {
    position: relative;
    max-width: 425px;
    min-height: 250px;
    padding: 30px 0;
    margin-left: 37%;
    background-color: #282828;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.3);
    color: white;
    text-align: center;
    border-radius: 4px;
}
.dss-links-modal-close {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #8d8d8d;
}
.dss-links-modal-title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: lighter;
}
.dss-add-links-modal-content input {
    width: 80%;
    background-color: rgba(255,255,255,0.1);
    color: #eaeaea;
    margin-bottom: 20px;
}
.dss-links-wrapper {
    position: relative;
}
.dss-links-btn {
    font-size: 30px;
    font-weight: lighter;
    cursor: pointer;
    color: #007cba;
    position: absolute;
    right: 15px;
}
.sms-add-links-btn {
    color: #007cba;
}
.dss-delete-links-btn {
    color: tomato;
}
.dss-links-wrapper:not(:last-child) .dss-delete-links-btn {
    display: none;
}
.dss-confirm-links-btn {
    width: 40%;
    border: 1px solid #8d8d8d;
    padding: 5px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    cursor: pointer;
}
.dss-confirm-links-btn:hover {
    color: #1d1d1d;
    background-color: #f6f6f6;
}
.link-error {
    color: #d8512d;
    margin-left: 10px;
}
@media (max-width: 767px) {
    .dss-attachement {
        border-radius: 0;
    }
    .dss-add-links-modal {
        width: 100%;
    }
}
label.required::after {
    color: red;
    content: " *";
}
.sms-email-delivery {
    display: inline-block;
    width: 320px;
    margin: 0 0 0 55px;
}
.dss-tooltipe-link {
    text-decoration: none;
}
.dss-tooltipe-link img {
    width: 20px;
}
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}
/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}
/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}
/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}
/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.sms-service-part,
.dss-send-options-container {
    display: flex;
}
.dss-send-options-container {
    width: 700px;
    justify-content: space-between;
}
@media (max-width: 768px) {
	.dss-send-options-container {
		width: 100%;
	}
}
@media (max-width: 767px) {
	.dss-send-options-container {
		display: block;
	}
    .remove-recipient-wrap,
    .add-recipient-wrap {
        text-align: center;
    }
}
.sms-mobile-carriers {
    text-align-last: center;
}
.dss-field-title,
.dss-url-wrapper,
.sms-url-text,
.dss-checkout,
#sms-ampm {
    color: #0E3189;
}
.sms-mobile-carriers,
input[type="text"].dss-form-field,
input[type="tel"].dss-form-field,
input[type="email"].dss-form-field,
input[type="url"].dss-input-url,
input[type="text"]#dss-input-date {
    border-radius: 5px;
    color: #808080;
}
input[type="email"].sms-invalid,
input[type="text"].sms-invalid,
input[type="tel"].sms-invalid {
    border-color: #d8512d;
}
.dss-date {
    font-size: 14px;
    margin-bottom: 20px;
}
#dss-ampm {
    font-size: large;
}
.dss-datetime {
    display: inline-block;
    width: 320px;
}
.calendar-icon-wrap {
    vertical-align: top;
    cursor: pointer;
}
.calendar-icon-wrap img{
    width: 45px;
}
.dss-send-money-wrap {
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.sms-pay-email,
.sms-send-money {
    width: 45%;
}
.dss-send-money-wrap div {
    display: none;
}
.dss-checkout-container {
    display: flex;
    width: 45%;
    height: 136px;
}
.dss-checkout {
    width: 60%;
    font-size: 14px;
}
.dss-payment-buttons {
    display: none;
}
.dss-payment-buttons div:first-child {
    display: inline-flex;
    width: 100px;
    margin-bottom: 10px; 
}
.dss-payment-buttons div:last-child img {
    width: 60px;
}
.payment-line {
	width: 90%;
	background-color: #0E3189;
    border-bottom: 1px solid #0E3189;
    margin: 5px 0;
}
.dss-package-sms,
.dss-mobile-carrier,
.add-service-wrapper,
.dss-service-total {
    display: flex;
}
.dss-package-sms div:first-child,
.dss-mobile-carrier div:first-child,
.add-service-wrapper div:first-child,
.dss-service-total div:first-child {
    width: 70%;
}
.dss-package-sms div:last-child,
.dss-mobile-carrier div:last-child,
.add-service-wrapper div:last-child,
.dss-service-total div:last-child {
    width: 30%;
}
.dss-send-money-container {
    width: 700px;
}
.dss-package-sms,
.add-service-wrapper {
    display: none;
}
.dss-form-line {
    margin: 10px 0 10px 0;
}
.sms-back-wrap {
    text-align: right;
    padding: 30px;
}
/** Buttons **/
button.add-recipient,
button.remove-recipient, 
button[type="submit"].dss-send {
    background: #191970;
    text-align: center;
    border-radius: 10px;
}
button.add-recipient,
button.remove-recipient {
    padding: 0 10px; 
}
button.remove-recipient {
    color: #191970;
    background: #f9f9f9;
    border: 1px solid #191970;  
}

i.fas.fa-plus {
    margin-right: 10px;
}
.sms-submit-wrap {
    width: 700px;
    display: flex;
    margin-top: 20px;
}
.sms-submit-wrap div {
    width: 50%;
    text-align: right;
}
button.dss-cancel,
button.add-recipient,
button.remove-recipient, 
button[type="submit"].dss-send {
    border-radius: 10px;
    outline: none;
    height: 40px;    
}
button.add-recipient,
button.remove-recipient,
input[type="image"],
button[type="submit"].dss-send,
button.dss-cancel {
	width: 200px;
}
button.dss-cancel {	
    background: #f9f9f9;
    border: 1px solid #191970;   
    color: #191970;
    line-height: 0;
}
button[type="submit"]#sms-update,
button[type="submit"]#sms-next {
    padding: 0;
}
@media (max-width: 768px) {
    .dss-date {
        text-align: justify;
    }
    .dss-send-money-container {
    	width: 100%;
    }
    .dss-send-money-wrap {
        height: 100%;
    }
    .dss-datetime {
        width: 100%;
    }
    .dss-field-title {
        top: 15%;
    }
    .calendar-icon-wrap img{
        display: none;
    }
    .dss-payment-buttons,
    .dss-checkout {
        display: block;
        width: 100%;
    }
    .sms-submit-wrap {
        width: 100%;
    }
}
@media (max-width: 767px) {
	.dss-checkout-container {
		width: 100%;
		margin-top: 20px;
	}
    .dss-checkout {
        width: 60%;
    }
    .dss-payment-buttons {
        width: 40%;
    }
    .dss-send-money-wrap {
    	display: block;
    }
    .sms-pay-email, 
    .sms-send-money {
    	width: 100%;
    }
    .sms-pay-email {
    	margin-bottom: 20px;
    }
    button.add-recipient,
    button.remove-recipient {
        height: 50px;
    }
}
@media (max-width: 510px) {
    button[type="submit"]#sms-cancel.dss-cancel.sms-cancel-but,
    button[type="submit"]#sms-update.dss-send.sms-update-but {
        width: 80%;
    }
}
.sms-next-wrap,
.sms-paypal-wrap,
.sms-applepay-wrap {
    width: 700px;
    text-align: right;
}
.sms-paypal-wrap,
.sms-applepay-wrap {
    display: none; 
}
/** SMS Service Form Info **/
.dss-recipient-row {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}
.dss-recipient-row div ,
.dss-datetime-info {
    width: 45%;
}
.dss-checkout-info {
    width: 50%;
    display: flex;
}
.dss-checkout-info div {
    width: 50%;
}
@media (max-width: 767px) {
    .dss-recipient-row {
        display: block;
    }
    .dss-recipient-row div {
        margin: 15px 0;
    }
    .dss-recipient-row div,
    .dss-datetime-info {
        width: 100%;
    }
}
.input-error {
    color: #d8512d;
    margin-left: 15px;
}

/** PayPal button **/
input[type="image"] {
    height: 40px;
    border: 1px solid #191970;
    border-radius: 10px;
    padding: 0;
    background: #191970;
}
@media (max-width: 768px) {
    .sms-next-wrap,
    .sms-paypal-wrap,
    .sms-applepay-wrap {
        width: 100%;
    }   
}
/** Apple Pay button **/
button[type="submit"].stripe-button-el {
    background: #191970;
    padding: 0;
    width: 200px;
    border-radius: 10px;
    outline: none;
}
.stripe-button-el:not(:disabled):active,
.stripe-button-el.active,
.stripe-button-el:not(:disabled):active span,
.stripe-button-el.active span {
    background: #191970!important;
}

button[type="submit"].stripe-button-el span {
    background: #191970;
    font-size: 13px;
    height: 40px;
    padding-top: 6px;
}
/**-------------------------------------------------------------
 # END SMS Service - Forms
--------------------------------------------------------------**/